<div class="homepage" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Find out how active you've been ;)</h1>
    <%= link_to "See More", days_path(@days), class: "btn btn-ghost" %>
  </div>
</div>









