.index {
 // background-color: #d7eae3;
 height: 100%;
 padding-top:90px;
}

.indextext{
  color: gray;
  font-size: 22px;
  text-decoration: none;
}

.items {
  display: flex;
}

.weather {
  margin-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  display:inline-block;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  display:inline-block;
}

.activities {
  margin-top: 90px;
  margin-left: 20px;
}

.pic {
  margin-bottom: 10px;
  border-radius: 3px;
}
