.index {
 // background-color: #d7eae3;
 height: 100%;
 padding-top:90px;
}

.indextext{
  color: gray;
  font-size: 22px;
  text-decoration: none;
}

.items {
  display: flex;
}

.weather {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 40px;
}
