.card {
  // overflow: hidden;
  height: 120px;
  background: #F4EBE6;
  display: flex;
  align-items: left;
  padding-top: 10px;
  padding-left: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 30px;
  width: 600px;
}

.first_line {
  display: flex;
  justify-content: space-between;
}

.date {
  text-decoration: none;
  color: gray;
  margin-bottom: 15px;
}
